.shadowBox {
	width: 90vw;
}

h1 {
	vertical-align: top;
	font-size: 3.5vh;
	display: inline-block;
}

#knapp {
	margin-left: 1vw;
	display: inline-block;
}

td {
	vertical-align: middle !important;
	padding: 0.65rem !important;
}
