h4 {
    color: #2a347b;
    -webkit-font-smoothing: antialiased !important;
}

#ruter {
    display: inline-block;
    width: 40%;
    padding-left: 2.5%;
    padding-right: 5%;
}

    #ruter h5 {
        transition: .2s;
        opacity: .7;
        -webkit-font-smoothing: antialiased !important;
    }

        #ruter h5:hover {
            cursor: pointer;
            opacity: 1;
        }

#valgtRute {
    opacity: 1 !important;
    text-decoration: underline;
}

    #valgtRute:hover {
        opacity: 1;
        cursor: arrow !important;
    }

#stopp {
    float: right;
    width: 60%;
    display: block;
    padding-right: 2.5%;
    padding-left: 5%;
}

    #stopp th {
        -webkit-font-smoothing: antialiased !important;
    }

    #stopp h6 {
        -webkit-font-smoothing: antialiased !important;
    }