* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: black;
}

body {
    background-color: #f5f7ff;
    background: url(../Bilder/bakgrunn.jpg), linear-gradient(180deg, rgba(0,0,0,90) 0%, rgba(0,0,0,.80) 25%, rgba(0,0,0,0.70) 50%, rgba(0,0,0,0.60) 75%, rgba(0,0,0,.40) 100%);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.rodTekst {
    color: #f94e4f;
}


.antialised {
    -webkit-font-smoothing: antialiased !important;
}

#overlay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,90) 0%, rgba(0,0,0,.80) 25%, rgba(0,0,0,0.70) 50%, rgba(0,0,0,0.60) 75%, rgba(0,0,0,.50) 100%);
    height: 100%;
}

nav {
    padding-top: 2vh;
}

    nav img {
        margin-left: 2vw;
        height: 4vh;
    }

ul li {
    list-style: none;
    display: inline;
    color: rgb(255,255,255);
    margin-left: 2vw;
    font-weight: bold;
    -webkit-font-smoothing: antialiased !important;
}

ul {
    display: inline;
}

nav-bar a {
    -webkit-font-smoothing: antialiased !important;
    color: white;
}

nav-bar a:hover {
    text-decoration: none;
    color: rgb(190,190,190);
}

.shadowBox {
    margin: auto;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 55px 20px rgb(0,0,0);
    width: 60vw;
    border-radius: 7px;
    overflow-x: auto;
}

@media screen and (max-width: 1100px) {
    .content {
        width: 90vw;
    }

    .shadowBox {
        width: 90vw;
    }
}